# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/java/com/reactioncraft/api/FreezerRecipes.java
src/main/java/com/reactioncraft/api/FreezerRecipes.java
src/main/java/com/reactioncraft/api/FreezerRecipes.java
src/main/java/com/reactioncraft/blocks/BlockDarkSand.java
src/main/java/com/reactioncraft/blocks/BlockDesertMulti.java
